#content{
	width: 328px;
	margin: 10px auto;
	margin-top: 20px;
}
*{
	margin: 0px;
	padding: 0px;
}
img{
	list-style: none;
}
a{
    color: #666666;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#content h2{
	border: 1px #e0e0e8 solid;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    padding-left: 38px;    
    background: url(../img/1.gif) no-repeat 11px 7px;
}
#content dl{
	 margin: 14px 0 0 0;
}
#content dl dt{
	float: left;
	border: 1px solid #e0e0e8;
    padding: 2px;
    background: #FFFFFF;
}
#content dl dd{
	float: right;
    width: 198px;
    font-size: 12px;
    line-height: 25px;
}
#content h2 a{
	color: #000000;
}
#content dl dd span{
	font-weight: bold;
}
#list{
	clear: both;
}
#list ul{
	margin-top: 30px;
}
#list ul li{
	list-style: none;
	font-size: 12px;
	color: grey;
    line-height: 30px;
}

#list ul li span{
	float: right;
}
ul li{
	margin: 11px 0 0 0;
}
