<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cskin" version="16.1.14.3" targetFramework="net48" />
  <package id="DevExpress.Data" version="21.2.7" targetFramework="net48" />
  <package id="DevExpress.Xpo" version="21.2.7" targetFramework="net48" />
  <package id="HZH_Controls" version="1.0.14" targetFramework="net48" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net48" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net48" />
  <package id="SunnyUI" version="3.1.8" targetFramework="net48" />
  <package id="SunnyUI.Common" version="3.1.2" targetFramework="net48" />
  <package id="Vlc.DotNet.Core" version="3.1.0" targetFramework="net48" />
  <package id="Vlc.DotNet.Core.Interops" version="3.1.0" targetFramework="net48" />
  <package id="Vlc.DotNet.Forms" version="3.1.0" targetFramework="net48" />
</packages>