/*整个盒子*/
#container{
	width:1023px;
	margin:0px auto;
}
/*头部*/
header{
	height: 50px;
	background:url(../img/menuBg.jpg);
}
*{
	margin:0px;
	padding: 0px;
}
header .logo{
	float: left;
}
header .index{
	float: left;
	margin-left: 10px;
	margin-top:10px;
	background-color:#fff;
	height: 50px;
	width: 100px;
	border-radius: 5px;
	text-align: center;
}
header .index h2{
	font-size: 15px;
	color:red;
	line-height: 40px;
}
.hright{
	float: right;
	color:#fff;
	font:12px/50px 宋体;
	margin-right: 40px;
}
/*中间*/
section{
	clear: both;
}
.left,.right{
	float: left;
}
.left{
	width:735px;
}
/*中间侠客*/
.xiake{
	border:1px solid gray;
	width:190px;
	float: left;
	margin-right: 10px;
}
.xiake ul li{
	list-style: none;
	background:url(../img/gameBg1.jpg) no-repeat;
	height: 29px;
	font:12px/29px 宋体;
	padding-left: 10px;
}
.xiake ul li img{
	vertical-align: middle;
	margin-right: 10px;
}
.xiake ul li:hover{
	background:url(../img/gameBg2.jpg) no-repeat;
	color:#fff;
	cursor: pointer;
}
.webGame{
	float: left;
	border:1px solid gray;
	width: 525px;
	padding-top:5px;
	background:url(../img/img-3.jpg);
}
.webGame img{
	vertical-align: middle;
}


