p{
	font-size: 12px;
}

.p{
	color: red;
}

strong{
	font-size: 25px;
}

span{
	color: gray;
}

.small{
	font-family: "微软雅黑";
	background-color: red;
	color: white;
	margin-right: 10px;
	font-size: 10px;
	padding: 1px 5px;
}