body,ul, li {
	margin:0px;
	padding:0px;
}
li {
	list-style-type:none;
}
#lost {
	background: url(../img/bg.jpg) 0px 0px no-repeat;
	width:312px;
	height:353px;
}
#lost .content {
	width:260px;
	margin:0px auto;
	padding-top:80px;
	color:#FFF;
	font-size:14px;
	box-sizing: border-box;
}
#lost li {
	height:38px;
	line-height:38px;
}
#lost li span {
	color:#F00;
	padding-right:5px;
}
#lost input {
	border:1px #7b7b7b solid;
	border-radius: 4px;
	width:190px;
	height:17px;
}
#lost select{
	border:1px #7b7b7b solid;
	border-radius: 4px;
}
#lost .Regist {
	background:url(../img/btn.jpg) 0px 0px no-repeat;
	width:152px;
	height:49px;
	border:0px;
	cursor:pointer;
}
#lost .btn {
	text-align:center;
}
